<form [formGroup]="singupForm" class="form mt-4">
  <div class="form-group">
      <input formControlName="email" class="form-control" placeholder="email" autofocus>
      <hp-vmessage
          *ngIf="singupForm.get('email')?.errors?.required"
          text="Email is required!">
      </hp-vmessage>
      <hp-vmessage
          *ngIf="singupForm.get('email')?.errors?.email"
          text="Invalid e-mail">
      </hp-vmessage>
  </div>

  <div class="form-group">
      <input formControlName="fullName" class="form-control" placeholder="full name">
      <hp-vmessage
          *ngIf="singupForm.get('fullName')?.errors?.required"
          text="Full name is required!">
      </hp-vmessage>
      <hp-vmessage
          *ngIf="singupForm.get('fullName')?.errors?.minlength"
          text="Minimum length is 2">
      </hp-vmessage>
      <hp-vmessage
          *ngIf="singupForm.get('fullName')?.errors?.maxlength"
          text="Maximum length is 40">
      </hp-vmessage>
  </div>

  <div class="form-group">
      <input formControlName="userName" class="form-control" placeholder="user name">
      <hp-vmessage
          *ngIf="singupForm.get('userName')?.errors?.required"
          text="Username is required!">
      </hp-vmessage>
      <hp-vmessage
          *ngIf="singupForm.get('userName')?.errors?.minlength"
          text="Minimum length is 2">
      </hp-vmessage>
      <hp-vmessage
          *ngIf="singupForm.get('userName')?.errors?.maxlength"
          text="Maximum length is 30">
      </hp-vmessage>
      <hp-vmessage
          *ngIf="singupForm.get('userName')?.errors?.pattern"
          text="Must be lowercase">
      </hp-vmessage>
  </div>

  <div class="form-group">
      <input formControlName="password" type="password" class="form-control" placeholder="password">
      <hp-vmessage
          *ngIf="singupForm.get('password')?.errors?.required"
          text="Password is required!">
      </hp-vmessage>
      <hp-vmessage
          *ngIf="singupForm.get('password')?.errors?.minlength"
          text="Minimum length is 8">
      </hp-vmessage>
      <hp-vmessage
          *ngIf="singupForm.get('password')?.errors?.maxlength"
          text="Maximum length is 14">
      </hp-vmessage>
  </div>

  <button class="btn btn-primary btn-block">Register</button>

  <p>Already a user? <a [routerLink]="['']">Sign In!</a></p>
</form>
